.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor {
    width: 300px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .contenedor {
        width: 700px;
    }
}
  
@media screen and (min-width: 1025px) {
    .contenedor {
        width: 1200px;
    }
}