.subTitulo {
    font-size: 18px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .subTitulo {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) {
    .subTitulo {
        font-size: 24px;
    }
}